body {
    margin: 0;
    padding: 0;
    background-color: #98c3db;
    font-family: Arial, sans-serif;
  }
  
  .UvodStr{
    background-color: #FFD28F;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    color: black;
    font-size:larger;
    font-weight: bolder;
    text-align: center;
  }
  
  #moznosti{
    width: 100%;
    max-width: 400px; /* Nastavte želanú maximálnu šírku */
    height:fit-content;
    font-size: large;
  }
  
  .nav {
    background-color: #FFD28F; /* Farba pozadia navigácie, môžete upraviť podľa vašich preferencií */
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Položky, ktoré nezmestia na obrazovku, budú presunuté na ďalší riadok */
  }
  
  .nav-item {
    margin: 0;
    flex: 1; /* Položky budú mať rovnomerný podiel šírky */
  }
  
  .nav-item a {
    display: block;
    padding: 15px 20px; /* Prispôsobte polomer a výšku podľa vašich preferencií */
    text-decoration: none;
    color: black; /* Farba textu, môžete upraviť podľa vašich preferencií */
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    text-align: center; /* Text bude zarovnaný na stred */
  }
  
  .nav-item a:hover,
  .nav-item.active a {
    background-color: #98c3db ; /* Farba pozadia pri najazdení myši a aktívnej položke, môžete upraviť podľa vašich preferencií */
  }
  
  /* Media query pre menšie obrazovky */
  @media screen and (max-width: 600px) {
    .nav-item {
      flex-basis: 100%; /* Položky budú zaberáť 100% šírky na menších obrazovkách */
    }
  }

.payment-form {
    max-width: 400px;
    margin: 0 auto;
}

#amount, #recipient, #account, #due-date, #variable-symbol, #constant-symbol {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#note {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    text-align: left;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h2{
    padding-left: 25px;
}

footer {
  background-color: #FFD28F;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: small;
}

#odhlasenie{
  background-color:lightcoral;
  color: black;
  font-weight: 500;
  font-size: large;
  margin-right: 100px;
  padding: 10px 15px;
}